<h1>Expenditure:</h1>

<p>
  <strong>Purchase:</strong>
  <%= @expenditure.item %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @expenditure.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expenditure.category %>
</p>

<%= link_to 'Edit', edit_spender_expenditure_path(@spender, @expenditure) %> |

<%= link_to 'Delete expenditure', [@expenditure.spender, @expenditure],method: :delete, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Back', spender_expenditures_path(@spender) %> 